body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: #f4f7f9;
  margin-bottom: 60px;
  border-bottom: 1px solid transparent;
}

.inner-page .main-header {
  margin-bottom: 20px;
}

.header-top {
  width: 100%;
  background-color: #32425c;
  margin-bottom: 46px;
}

.login-navigation,
.site-navigation,
.shopping-cart-navigation,
.user-navigation,
.footer-site-navigation,
.footer-catalog-navigation,
.footer-social ul,
.catalog-list,
.promo ul,
.manufacturers-list,
.services-list,
.sorting-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container-center,
.center {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top .container-center {
  display: flex;
}

.main-header .container-center {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
}

.header-contacts {
  position: relative;
  box-sizing: border-box;
  width: 270px;
}

.container-center h1,
.site-name {
  margin: 0;
  margin-left: 50px;
  padding: 0;
  width: 200px;
}

.header-contacts p {
  display: block;
  margin: 0;
}

.header-tel::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 15px;
  width: 19px;
  height: 19px;
  background: url(../img/icon-phone.svg) no-repeat;
}

.header-tel {
  padding: 12px 0;
  padding-left: 73px;
  box-shadow: inset 0 0 0 3px #ffffff;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-address {
  padding: 0;
  padding-top: 2px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.login-navigation {
  width: 300px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.login-navigation a {
  display: block;
  box-sizing: border-box;
  padding: 12px 0;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-navigation a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.login a {
  width: 120px;
  padding-left: 48px;
  margin-right: 10px;
}

.login a::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 34px;
  width: 20px;
  height: 17px;
  background: url(../img/icon-login-grey.svg) no-repeat;
}

.registration a {
  text-align: center;
  width: 150px;
}

.login-navigation a:hover,
.login-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.login a:hover::before {
  background: url(../img/icon-login.svg) no-repeat;
}

.login a:active::before {
  background: url(../img/icon-login-grey.svg) no-repeat;
}

.login-navigation a:active,
.user-navigation a:active,
.current-user:active {
  color: rgba(0, 0, 0, 0.3);
}

.shopping-cart-navigation {
  margin-left: auto;
  display: flex;
}

.site-navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 59px;
}

.favorites a,
.shopping-cart a,
.button-purchase a {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 29px;
  text-align: right;
  vertical-align: middle;
}

.favorites a::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  background: url(../img/icon-bookmark.svg) no-repeat;
  opacity: 0.3;
}

.inner-page .shopping-cart {
  background-color: #ee3643;
}

.shopping-cart a::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 15px;
  height: 15px;
  background: url(../img/cart-icon.svg) no-repeat;
  opacity: 0.3;
}

.button-purchase a {
  background-color: #63a63e;
  padding-right: 0;
  text-align: center;
}

.shopping-cart-navigation a {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.shopping-cart-navigation a:hover,
.shopping-cart-navigation a:focus {
  background-color: #212a3a;
}

.shopping-cart-navigation a:hover::before,
.shopping-cart-navigation a:focus::before {
  opacity: 1;
}

.button-purchase a:hover, .button-purchase a:focus {
  background-color: #5fbb2d;
}

.shopping-cart-navigation a:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.button-purchase a:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.shopping-cart-navigation a:active::before {
  opacity: 0.5;
}

.search {
  position: relative;
  display: flex;
  flex-grow: 1;
  margin: 0;
  margin-left: 219px;
  padding-right: 0;
}

.search label {
  display: block;
  position: absolute;
  left: 17px;
  top: 13px;
  width: 17px;
  height: 17px;
  background: url(../img/icon-search.svg) no-repeat;
  opacity: 0.3;
}

.search input {
  margin: 0;
  padding: 0;
  padding-left: 49px;
  flex-grow: 1;
  font: inherit;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.search input::-moz-placeholder {
  color: #ffffff;
}

.search input::-webkit-input-placeholder {
  color: #ffffff;
}

.search:hover {
  background-color: #212a3a;
}

.search:hover label {
  opacity: 1;
}

.search input:focus {
  color: #000000;
  background-color: #ffffff;
  outline: none;
  border-color: transparent;
}

.search input:focus+label {
  background: url(../img/icon-search-red.svg) no-repeat;
}

.main-logo {
  position: absolute;
  padding: 13px 55px 13px 55px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 #b52933;
}

.main-logo:hover,
.main-logo:focus {
  background-color: #ca2c37;
}

.main-header h1,
.site-name {
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.site-navigation {
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.site-navigation a {
  display: block;
  padding: 21px 30px 23px 30px;
  font-size: 17px;
  line-height: 17px;
  vertical-align: middle;
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.current-user {
  width: 300px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-navigation {
  width: 300px;
  display: flex;
}

.promo {
  position: relative;
  margin-bottom: 34px;
}

.slider {
  width: 620px;
  position: absolute;
  top: 143px;
}

.slider-items {
  width: 200%;
}

.slider-inner {
  overflow: hidden;
}

.slider-items img {
  float: left;
  width: 620px;
  height: 266px;
}

.slider input[type="radio"] {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 33px;
  right: 295px;
  ;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.slider-controls label {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-left: 6px;
  width: 6px;
  height: 6px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.slider-items li {
  position: relative;
}

.slider-items div {
  position: absolute;
  padding-top: 22px;
  padding-left: 24px;
}

.slider-items .slide-1-text {
  top: 0;
  left: 0;
}

.slider-items .slide-2-text {
  top: 0;
  left: 620px;
}

.slider-items .slide-title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.slider-items .slide-comment {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

#btn-1:checked~.slider-controls label[for="btn-1"],
#btn-2:checked~.slider-controls label[for="btn-2"] {
  background-color: #ee3643;
}

#btn-1:checked~.slider-inner .slider-items {
  transform: translate(0);
}

#btn-2:checked~.slider-inner .slider-items {
  transform: translate(-620px);
}

.slider::before,
.slider::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: solid 3px white;
  border-left: solid 3px white;
  z-index: 2;
}

.slider::before {
  top: 120px;
  left: 30px;
  transform: rotate(-45deg);
}

.slider::after {
  top: 120px;
  right: 25px;
  transform: rotate(135deg);
}

.promo-blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promo-blocks li {
  position: relative;
  width: 300px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-left: 22px;
  padding-top: 22px;
  background-color: #f5f932;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.promo-blocks .materials {
  background-color: #ffbf47;
}

.promo-blocks .instruments {
  background-color: #3bbce3;
}

.promo-blocks .tech {
  background-color: #dc91d8;
}

.promo-blocks .sale {
  background-color: #8ed78f;
}

.promo-blocks .delivery {
  background-color: #ffc047;
}

.promo-blocks .promo-button {
  display: block;
  width: 135px;
  padding: 10px 0;
  margin-top: 11px;
  margin-bottom: 22px;
  background-color: rgba(0, 0, 0, 0.1);
}

.promo-blocks li:nth-child(4) {
  margin-left: 640px;
}

.promo-blocks li:nth-child(5) {
  margin-left: 640px;
}

.materials a::after {
  content: "";
  width: 44px;
  height: 65px;
  position: absolute;
  top: 31px;
  right: 43px;
  background: url(../img/icon-promo-1.svg) no-repeat;
}

.instruments a::after {
  content: "";
  width: 75px;
  height: 61px;
  position: absolute;
  top: 33px;
  right: 28px;
  background: url(../img/icon-promo-2.svg) no-repeat;
}

.tech a::after {
  content: "";
  width: 78px;
  height: 62px;
  position: absolute;
  top: 31px;
  right: 31px;
  background: url(../img/icon-promo-3.svg) no-repeat;
}

.sale a::after {
  content: "";
  width: 59px;
  height: 72px;
  position: absolute;
  top: 26px;
  right: 45px;
  background: url(../img/icon-promo-4.svg) no-repeat;
}

.delivery a::after {
  content: "";
  width: 78px;
  height: 63px;
  position: absolute;
  top: 32px;
  right: 31px;
  background: url(../img/icon-promo-5.svg) no-repeat;
}

.slider-button {
  width: 195px;
  box-sizing: border-box;
  position: absolute;
  left: 25px;
  bottom: 22px;
}

.promo-blocks a:hover,
.promo-blocks a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-blocks a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.popular-items,
.manufacturers {
  position: relative;
}

.popular-items-button,
.popular-manufacturers-button {
  position: absolute;
  top: 25px;
  right: 24px;
  width: 253px;
  box-sizing: border-box;
}

.index-page .catalog-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
}

.popular-items h2,
.manufacturers h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
  margin: 0;
  margin-bottom: 20px;
  padding: 29px 30px 30px 29px;
}

.manufacturers-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 65px;
}

.manufacturer-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 218px;
  min-height: 145px;
  box-shadow: 0 0 0 1px #e5e5e5;
  text-align: center;
  transition: box-shadow 0.3s;
}

.manufacturer-item a:hover,
.manufacturer-item a:focus {
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
}

.manufacturer-item a:active {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.manufacturer-item a:active img {
  opacity: 0.3;
}

.services {
  position: relative;
  background-color: #98f6a3;
  width: 100%;
}

.services h2 {
  padding-top: 65px;
}

.services p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.background {
  position: relative;
  width: 100vw;
  left: calc(-50vw + 50%);
  background: #f4f8f9;
  padding-bottom: 99px;
  margin-bottom: 55px;
}

.services-slider::after {
  content: "";
  position: absolute;
  top: 192px;
  left: 240px;
  width: 10px;
  height: 279px;
  background: url(../img/shadow.png) no-repeat;
}

.background p {
  margin-bottom: 71px;
}

.services-slider input[type="radio"] {
  display: none;
}

.services-slider label {
  display: block;
  padding: 15px 0 16px 22px;
  margin: 0;
  width: 218px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: white;
  background-color: #32425c;
  box-shadow: inset 0 1px 0 0 #405069,
    0 1px 0 0 #293449;
  cursor: pointer;
}

.services-slider p {
  display: block;
  margin: 0;
  padding: 0;
}

.services-slider-item .services-slider-item-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.background .center {
  position: relative;
}

.services-slider-item {
  transform: scale(0);
  position: absolute;
  top: 235px;
  left: 330px;
}

.services-slider .item-delivery {
  width: 275px;
}

.services-slider .item-delivery:after {
  content: "";
  position: absolute;
  top: 27px;
  right: -343px;
  width: 468px;
  height: 261px;
  background: url(../img/delivery.png) no-repeat;
}

.services-slider .item-guarantee {
  width: 380px;
}

.services-slider .item-guarantee:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -247px;
  width: 389px;
  height: 283px;
  background: url(../img/guarantee.png) no-repeat;
}

.services-slider .item-credit {
  width: 280px;
}

.services-slider .item-credit:after {
  content: "";
  position: absolute;
  top: 0px;
  right: -349px;
  width: 465px;
  height: 285px;
  background: url(../img/credit.png) no-repeat;
}

.services-list label:hover {
  background-color: #293449;
}

#delivery:checked~label[for="delivery"] {
  background-color: white;
  color: #32425c;
  box-shadow: none;
}

#delivery:checked~.item-delivery {
  transform: scale(1);
  transition: transform 0.3s;
}

#guarantee:checked~.item-guarantee {
  transform: scale(1);
  transition: transform 0.3s;
}

#credit:checked~.item-credit {
  transform: scale(1);
  transition: transform 0.3s;
}

#guarantee:checked~label[for="guarantee"] {
  background-color: white;
  color: #32425c;
  box-shadow: none;
}

#credit:checked~label[for="credit"] {
  background-color: white;
  color: #32425c;
  box-shadow: none;
}

.button-credit {
  width: 195px;
  box-sizing: border-box;
  margin-top: 26px;
  background-color: #ff5357;
}

.about-us h2,
.contacts h2,
.services h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.about-us p {
  display: block;
  padding-bottom: 10px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.delivery-list {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 17px;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  list-style: none;
}

.delivery-list li {
  display: block;
  padding-bottom: 20px;
  padding-left: 35px;
}

.delivery-list li::before {
  content: "";
  position: absolute;
  left: 0;
  transform: translateY(9px);
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.map-little {
  display: block;
  padding: 0;
  margin-bottom: 35px;
}

.contacts .button {
  box-sizing: border-box;
  width: 100%;
}

.button {
  display: inline-block;
  padding: 10px 40px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  vertical-align: middle;
  background-color: #ee3643;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
}

.index-page .main-footer {
  margin-top: 86px;
}

.footer-top {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  background-color: #32425c;
}

.footer-top .center {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo {
  padding: 21px 42px 21px 42px;
  margin-bottom: 25px;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 #b52933;
}

.footer-site-navigation {
  width: 549px;
  display: flex;
  justify-content: space-between;
}

.footer-site-navigation li {
  padding-top: 38px;
}

.footer-contacts {
  margin: 0;
  padding: 0;
  padding-left: 3px;
  padding-bottom: 50px;
  width: 330px;
}

.footer-catalog-navigation {
  width: 526px;
  display: flex;
  justify-content: space-between;
}

.footer-site-navigation a {
  color: #f1f5f7;
}

.footer-catalog-navigation a {
  color: #ffd180;
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus,
.footer-catalog-navigation a:hover,
.footer-catalog-navigation a:focus {
  text-decoration: underline;
}

.footer-catalog-navigation a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer-site-navigation a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-bottom {
  margin: 0;
  padding: 0;
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-bottom .center {
  display: flex;
  padding-top: 37px;
  padding-bottom: 35px;
}

.footer-copyright {
  margin: 0;
  width: 390px;
}

.footer-feedback,
.footer-dev-copyright {
  margin: 0;
  width: 150px;
}

.footer-dev-copyright {
  box-sizing: border-box;
  padding-left: 39px;
}

.footer-feedback {
  margin-left: auto;
}

.social-button-vk,
.social-button-fb,
.social-button-insta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.social-button-vk {
  background: #212a3a url(../img/vk-icon.svg) no-repeat 50% 50%;
}

.social-button-fb {
  background: #212a3a url(../img/fb-icon.svg) no-repeat 50% 50%;
}

.social-button-insta {
  background: #212a3a url(../img/insta-icon.svg) no-repeat 50% 50%;
}

.social-button-vk:hover,
.social-button-vk:active,
.social-button-fb:hover,
.social-button-fb:active,
.social-button-insta:hover,
.social-button-insta:active {
  background-color: #ee3643;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 130px;
  margin: 0 auto;
  padding: 0;
}

.footer-social a {
  color: #ffffff;
}

.footer-feedback a,
.footer-dev-copyright a {
  color: #ffd180;
}

.footer-feedback a:hover,
.footer-feedback a:focus,
.footer-dev-copyright a:hover,
.footer-dev-copyright a:focus {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-dev-copyright a:active {
  color: #ee3643;
  text-decoration: none;
}

.modal {
  background-color: #ffffff;
  z-index: 3;
}

.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}


.modal-write-us label {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.modal-write-us input,
.modal-write-us textarea {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: solid 2px #dee3e4;
  border-radius: 2px;
}

.modal-write-us input:hover,
.modal-write-us textarea:hover {
  border-color: #b5b5b5;
}

.modal-write-us input:focus,
.modal-write-us textarea:focus {
  outline: none;
  border-color: #ee3643;
}

.breadcrumbs {
  display: flex;
  position: relative;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  padding-left: 15px;
  list-style: none;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 14px;
  height: 15px;
  background: url(../img/icon-home.svg) no-repeat;
}

.breadcrumbs li {
  position: relative;
  margin-left: 42px;
}

.breadcrumbs li::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -30px;
  width: 8px;
  height: 8px;
  border: solid 1px #c5c9d1;
  border-left-width: 0;
  border-bottom-width: 0;
  transform: rotate(45deg);
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.container h1 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
  margin: 0;
  margin-bottom: 20px;
  padding: 29px 30px 30px 29px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 220px;
}

.catalog {
  width: 700px;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
}

.catalog-list {
  margin-bottom: 41px;
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 218px;
  margin-bottom: 22px;
  margin-right: 22px;
  box-shadow: 0 0 0 1px #e5e5e5;
}

.catalog-item p,
.catalog-item h3 {
  margin: 0;
  padding: 0;
}

.catalog-item .catalog-item-image {
  margin-bottom: 6px;
  order: -1;
}

.catalog-item .actions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  padding: 43px 0;
  background-color: #ffffff;
}

.catalog-item:hover .actions {
  display: block;
}

.actions .button-buy,
.actions .button-favorite {
  display: block;
  width: 135px;
  margin-left: 41px;
  margin-bottom: 8px;
  padding: 10px 0;
  text-align: center;
}

.actions .button-buy::before {
  position: absolute;
  top: auto;
  left: 15px;
  content: "";
  width: 15px;
  height: 15px;
  background: url(../img/cart-icon.svg) no-repeat;
  opacity: 0.3;
}

.actions .button-buy:hover::before,
.actions .button-buy:active::before {
  opacity: 1;
}

.inner-page .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.index-page .catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item .catalog-item-title {
  font-size: 18px;
  line-height: 20px;
  padding: 0 30px;
  margin-bottom: 11px;
  text-transform: none;
  text-align: center;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 2;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .discount {
  color: #999999;
  text-decoration: line-through;
  text-align: center;
  margin-bottom: 10px;
}

.catalog-item .price {
  position: relative;
  color: #ffffff;
  text-align: center;
  margin-left: 43px;
  width: 141px;
  padding: 10px 0;
  background: #ee3643;
  border-radius: 3px;
  margin-bottom: 20px;
}

.catalog-item .price:after {
  content: "";
  position: absolute;
  top: 0px;
  right: -20px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.button-buy {
  position: relative;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  background-color: #63a63e;
  border: 0px solid transparent;
  border-radius: 3px;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.button-favorite {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: 400;
  color: #32425c;
  background-color: #ffffff;
  border: 0px solid transparent;
  border-radius: 3px;
  box-shadow: inset 0 0 0 3px #63a63e;
}

.button-buy:hover,
.button-buy:focus {
  background-color: #5fbb2d;
  outline: none;
}

.button-buy:active {
  background-color: #518534;
  box-shadow: none;
}

.button-favorite:hover,
.button-favorite:focus {
  box-shadow: inset 0 0 0 3px #32425c;
  outline: none;
}

.button-favorite:active {
  opacity: 0.3;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  padding-bottom: 70px;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  list-style: none;
}

.pagination-list a {
  padding: 9px 14px 9px 15px;
  color: black;
  border: solid 1px #e5e5e5;
  border-radius: 3px;
}

.pagination-list .pagination-item-current a {
  background-color: #ee3643;
  border-color: #ee3643;
  color: white;
}

.pagination-list a[href]:hover,
.pagination-list a[href]:focus {
  border-color: #bdc6ca;
}

.pagination-list a[href]:active {
  border-color: #ee3643;
}

.pagination-list .pagination-item-next a {
  padding-left: 31px;
  padding-right: 30px;
}

.pagination-item {
  margin-right: 10px;
}

.catalog-items-description .background {
  margin: 0;
  padding: 0;
}

.catalog-items-description h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 65px;
}

.catalog-items-description p {
  margin: 0;
  padding: 0;
  padding-bottom: 69px;
  font-size: 13px;
  line-height: 24px;
  text-transform: none;
}

.filters span {
  display: block;
  width: 202px;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 10px;
  padding: 9px 0 11px 18px;
  background-color: #f7f3ec;
}

.sorting {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
  padding: 9px 0 12px 19px;
  background-color: #f7f3ec;
}

.sorting span,
.sorting a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-list {
  display: flex;
  width: 460px;
  justify-content: space-between;
}

.sorting-list li:last-child {
  padding-right: 106px;
}

.sorting-list li {
  margin-top: -2px;
  padding: 0;
}

.sorting-list a {
  border-bottom: dotted 1px #ee3643;
  color: black;
  opacity: 0.3;
}

.sorting-list a[href]:hover,
.sorting-list a[href]:focus {
  opacity: 1;
  border-bottom: solid 1px #ee3643;
}

.sorting-list .sorting-current {
  opacity: 1;
  color: #ee3643;
  border: none;
}

.order-up, .order-down {
  position: absolute;
  display: block;
}

.order-up {
  top: 14px;
  right: 49px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #c5c5c5;
}

.order-down {
  top: 14px;
  right: 17px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #c5c5c5;
}

.order-on {
  border-bottom-color: #ee3643;
  border-top-color: #ee3643;
}

.order-buttons a[href]:hover,
.order-buttons a[href]:focus {
  border-bottom-color: #231f20;
  border-top-color: #231f20;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  border: none;
}

.filter legend {
  margin-bottom: 13px;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 20px;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 34px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -33px;
  width: 23px;
  height: 23px;
  background: url(../img/checkbox-off.svg) no-repeat;
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -33px;
  width: 27px;
  height: 23px;
  background: url(../img/checkbox-on.svg) no-repeat;
}

.filter-input-checkbox:checked+label::before {
  display: none;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: -3px;
  left: -36px;
  background: url(../img/radio-off.svg) no-repeat;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: -3px;
  left: -36px;
  background: url(../img/radio-on.svg) no-repeat;
}

.filter-input:disabled+label {
  color: #000000;
  opacity: 0.4;
}

.button-filter {
  width: 140px;
  padding: 10px 0;
  margin-top: 37px;
  font-size: 13px;
  line-height: 18px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.item-added {
  font-size: 30px;
  line-height: 30px;
}

.modal-go-on {
  color: #000000;
  background-color: #ffffff;
  border: none;
  outline: 0;
}

.index-columns {
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 540px;
}

.contacts {
  width: 300px;
}

@keyframes show {
0% {transform: scale(0);}
100% {transform: scale(1);}
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  position: fixed;
}

.modal-close {
  position: absolute;
  width: 21px;
  height: 21px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 9px;
  left: -2px;
  width: 25px;
  height: 3px;
  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.map-close {
  top: 0px;
  right: -24px;
}

.modal-map {
  display: none;
  bottom: 357px;
  left: 50%;
  margin-left: -485px;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.modal-write-us {
  display: none;
  width: 460px;
  bottom: 200px;
  left: 50%;
  margin-left: -310px;
  padding: 55px 80px 37px;
  box-shadow: inset 0 7px 0 0 #ff5358, 0 20px 40px 0px rgba(0, 0, 0, 0.75);
}

.write-us-close {
  top: 16px;
  right: 9px;
}

.write-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.write-us-item {
  margin: 0;
  margin-bottom: 19px;
}

.write-us-form .write-us-item {
  width: 220px;
}

.write-us-form .write-us-item:nth-child(3) {
  width: 100%;
  margin-bottom: 73px;
}

.write-us-text {
  box-sizing: border-box;
  width: 460px;
  padding: 10px 15px 10px 15px;
}

.write-us-item input {
  box-sizing: border-box;
  width: 220px;
  padding: 10px 15px 10px 15px;
}

.write-us-item label {
  display: block;
  margin-bottom: 8px;
}

.write-us-button {
  border: none;
  box-shadow: none;
  width: 460px;
  outline: 0;
}

.modal-sold {
  display: none;
  width: 620px;
  top: 410px;
  left: 50%;
  margin-left: -310px;
  box-shadow: inset 0 7px 0 0 #ff5358, 0 20px 40px 0px rgba(41, 52, 73, 0.75);
}

.modal-sold .sold-close {
  top: 16px;
  right: 9px;
}

.modal-sold .item-added {
  margin-top: 71px;
  margin-bottom: 67px;
  margin-left: 179px;
}

.modal-sold .item-added::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 81px;
  width: 66px;
  height: 66px;
  background: url(../img/icon-approve.svg) no-repeat;
}

.modal-sold .sold-buttons {
  background-color: #f1f1f1;
}

.modal-purchase,
.modal-go-on {
  display: inline-block;
  width: 220px;
  box-sizing: border-box;
  margin: 37px 0;
  vertical-align: middle;
}

.modal-purchase {
  margin-left: 80px;
  margin-right: 20px;
}

.modal-show {
  display: block;
  animation: show 0.3s;
}

.modal-error {
  animation: shake 0.6s;
}
